/* **********************************************
Color ROOT
********************************************** */

:root {
	--color-background: rgb(0, 0, 0);
	--color-black: rgb(0, 0, 0);
	--color-drumsGrey: rgb(27, 27, 27);
	--color-darkGreen: rgb(30, 156, 98);
}

/* **********************************************
Global Styling
********************************************** */

body {
	background-color: var(--color-background);
}

.line2 {
	bottom: 21.5% !important;
}

#closed-captions {
	display: flex;
  	justify-content: center;
}

#closed-captions p {
	opacity: 0;
	transition: .05s;
	color: white;
	font-size: 2em;
	position: absolute;
	bottom: 25%;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 0 10px;
}

#closed-captions .on {
	opacity: 1;
}
#closed-captions .off {
	transition: .2s;
	opacity: 0;
}

.sound-expression {
	color: rgb(207, 207, 207) !important;
	bottom: 13% !important;
	font-family: 'Courier New', Courier, monospace !important;
}

/* **********************************************
Video frame styling
********************************************** */

#video-placeholder {
	transition: 1s;
	width: 95vw;
	height: 90vh;
	display: block;
	margin: 0 auto;
	/* clip-path: inset(120px 45px); */
}

/* **********************************************
Voices Scene 1
********************************************** */
/* Robot men */
.voice1 {
	font-family: 'Courier New', Courier, monospace;
	font-style: Normal;
	font-weight: 400;
	font-stretch: extra-condensed;
}

.voice1n{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-style: Normal;
	font-weight: 600;
}

/* Officer K / Joe */
.voice2 {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-style: Normal;
	font-weight: 600;
	color: rgb(204, 189, 51) !important;
}

/* Fuck off, skinn-job! */
.voice3 {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-style: Italic;
	font-weight: 800;
	font-size: 1.3em;
}

/* **********************************************
Voices Scene 2
********************************************** */

.voice2Scene2 {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-style: Normal;
	font-weight: 400;
	color: rgb(204, 189, 51) !important;
}

/* Squiggly Text Recourse: https://codepen.io/lbebber/pen/KwGEQv */
.squiggly {
    animation: squiggly-anim 0.34s linear infinite;
}

.dark {
	font-weight: 800;
	color: rgb(235, 152, 152);
}

@keyframes squiggly-anim {
  0% {filter: url("#squiggly-0");}
  100% {filter: url("#squiggly-1");}
}

/* Select a specific <p> element */
/* .p0 span {
} */

/* **********************************************
Added classes to the <body>
*********************************************  */

.sound0 {
	animation: sound0 9s;
	/* Reversing the animation */
	animation-direction: alternate;
	opacity: 1;
  }
  
  @keyframes sound0 {
	0%   	{background: var(--color-black);}
  	11%  	{background: var(--color-black);}
  	22%  	{background: var(--color-drumsGrey);}
	33%   	{background: var(--color-black);}
  	44%  	{background: var(--color-drumsGrey);}
  	55%  	{background: var(--color-black);}
	66%   	{background: var(--color-drumsGrey);}
	77%  	{background: var(--color-black);}
	88%   	{background: var(--color-drumsGrey);}
	100%   	{background: var(--color-black);}
  }

/* Hard Alarm */
.sound1 {
	animation: sound1 2s;
	/* Reversing the animation */
	animation-direction: alternate;
	opacity: 1;
  }
  
  @keyframes sound1 {
	0%   {background: black;}
  	50%  {background: rgb(146, 53, 53);}
  	100%  {background: black;}
  }

/* Soft Alarm */
.sound2 {
	animation: sound2 2s;
	animation-direction: alternate;
	opacity: 1;
  }
  
  @keyframes sound2 {
	0%   {background: black;}
  	50%  {background: rgb(58, 6, 6);}
  	100%  {background: black;}
  }

/* Background noise with door opens*/
.sound3 {
	animation: sound3 2s;
	animation-direction: alternate;
	opacity: 1;
  }
  
  @keyframes sound3 {
	0%   	{background: var(--color-black);}
  	11%  	{background: var(--color-black);}
  	22%  	{background: var(--color-drumsGrey);}
	33%   	{background: var(--color-black);}
  	44%  	{background: var(--color-drumsGrey);}
  	55%  	{background: var(--color-black);}
	66%   	{background: var(--color-drumsGrey);}
	77%  	{background: var(--color-black);}
	88%   	{background: var(--color-drumsGrey);}
	100%   	{background: var(--color-black);}
  }

  /* Door opens */
.sound4 {
	animation: sound4 2s;
	opacity: 1;
}
  
  @keyframes sound4 {
	0%   {background: black;}
  	50%  {background: rgb(16, 34, 23);}
  	100%  {background: black;}
  }

  /* Door opens 2 */
.sound6 {
	animation: sound6 2s;
	opacity: 1;
}
  
  @keyframes sound6 {
	0%   {background: black;}
  	50%  {background: rgb(16, 34, 23);}
  	100%  {background: black;}
  }

  .sound7 {
	animation: sound7 2s;
	/* Reversing the animation */
	animation-direction: alternate;
	opacity: 1;
  }
  
  @keyframes sound7 {
	0%   	{background: var(--color-black);}
  	11%  	{background: var(--color-black);}
  	22%  	{background: var(--color-drumsGrey);}
	33%   	{background: var(--color-black);}
  	44%  	{background: var(--color-drumsGrey);}
  	55%  	{background: var(--color-black);}
	66%   	{background: var(--color-drumsGrey);}
	77%  	{background: var(--color-black);}
	88%   	{background: var(--color-drumsGrey);}
	100%   	{background: var(--color-black);}
  }

.sound8 {
	animation: sound8 2s;
	opacity: 1;
}
  
  @keyframes sound8 {
	0%   {background: black;}
  	50%  {background: rgb(16, 34, 23);}
  	100%  {background: black;}
  }

  /* High Upcoming Tone */
  .sound10 {
	animation: sound10 31s;
	animation-direction: alternate;
  }

  @keyframes sound10 {
	0%   {background: black;}
  	98%  {background: white;}
	100%   {background: black;}
  }

  /* Source background animation: https://codepen.io/quadbaup/pen/yLewNZO */
  /* Changed the horizontal animation to vertical */
  .sound11 {
	animation: sound11 20s linear;
	background-image: linear-gradient(
		90deg,
		var(--color-black),var(--color-black),#131031,#2B1F39,#7A3738,#c28825,
		#ad5924,#5e213a,#2B1F39,#0b0a1f,var(--color-black),var(--color-black));
	background-size: 1100% 1000%;
  }
  @keyframes sound11 {
	0% { background-position: 0% 0%; }
	100% { background-position: 100% 0%; }
  }

  .sound12 {
	animation: sound12 9s linear;
	background-image: linear-gradient(
		90deg,
		var(--color-black),var(--color-black),#131031,#7a4c37,#e6dccb,#f3e7d2,
		#ffffff,#E7A42D,#7A3738,#131031,var(--color-black),var(--color-black));
	background-size: 1100% 1000%;
  }
  @keyframes sound12 {
	0% { background-position: 100% 0%; }
	100% { background-position: 0% 0%; }
  }
  .sound13 {
	animation: sound13 7s linear;
	background-image: linear-gradient(
		90deg,
		var(--color-black),var(--color-black),#131031,#2B1F39,#c99755,#f0dab5,
		#eed5c6,#5e213a,#2B1F39,#0b0a1f,var(--color-black),var(--color-black));
	background-size: 1100% 1000%;
  }
  @keyframes sound13 {
	0% { background-position: 0% 0%; }
	100% { background-position: 100% 0%; }
  }