/* **********************************************
Video frame styling
********************************************** */

#video-placeholder {
	transition: 1s;
	width: 95vw;
	height: 95vh;
	display: block;
	margin: 0 auto;
}

/* **********************************************
Global Styling
********************************************** */

body {
	background-color: black;
}

p {
	color: white;
	font-size: 2em;
	position: absolute;
	bottom: 15%;
	width: 100%;
	display: block;
	text-align: center;
}

.bodyWidth {
	display: block;
	margin: 0 auto;
	text-align: center;
	top: 50%;
	bottom: 50%;
}

#closed-captions p {
	opacity: 0;
	transition: .05s;

}
#closed-captions .on {
	opacity: 1;
}
#closed-captions .off {
	transition: .2s;
	opacity: 0;
}

/* **********************************************
Voices
********************************************** */
/* Robot men */
.voice1 {
	font-family: "Brenner Mono";
	font-style: Normal;
	font-weight: 400;
	font-stretch: extra-condensed;
}

/* Officer K / Joe */
.voice2 {
	font-family: "Brenner Sans";
	font-style: Normal;
	font-weight: 600;
}

/* Fuck off, skinn-job! */
.voice3 {
	font-family: "Brenner Sans Condensed";
	font-style: Italic;
	font-weight: 800;
	font-size: 3em;
}

/* select a specific <p> element */
/* .p0 span {
} */

/* **********************************************
Sounds
You can style the whole body, or you can 
style anything within the body the moment
a sound starts.
*********************************************  */

/* The moment the class .sound1 is added to the body, the background is a fadin red color effect */
/* Reference background color: https://www.w3schools.com/cssref/tryit.asp?filename=trycss_animatable */
.sound1 {
	animation: sound1 2s;
	/* Reversing the animation */
	animation-direction: alternate;
	color: blue;
  }
  
  @keyframes sound1 {
	0%   {background: black;}
  	50%  {background: rgb(153, 47, 47);}
  	100%  {background: black;}
  }